@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  /* padding: 20px; */
  height: 100vh;
  font-family: "Nunito", sans-serif !important;
}
:root {
  --blueColor: #795cff;
  --whiteColor: white;
  --blackColor: black;
  --yellowColor: #ffc106;
  --lightPurple: #f0edff;
}

[data-theme="dark"] {
  /* --whiteColor: black; */
  /* --foreground: white; */
}

